<div class="container" *ngIf="pokemons; else loading">
    <div infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="2" [infiniteScrollThrottle]="5" (scrolled)="onScrollDown()" infinite-scroll-disabled="infiniteScorllStatus">
        <div class="row">
            <div class="card-deck col-sm-4" *ngFor="let pokemon of pokemons; index as id">
                <div class=" mb-3 text-center" (click)="openDialog(pokemon)">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h6 class="header">
                                {{ pokemon.name | uppercase}}
                            </h6>
                            <span>{{pokemon.supertype}}</span>
                        </div>
                        <div class="card-body">
                            <img [src]="pokemon.imageUrlHiRes" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loader" *ngIf="!infiniteScorllStatus">Loading...</div>